In [23]:
import kagglehub
import pandas as pd
import os

In [38]:
dataset_path = kagglehub.dataset_download("raedaddala/top-500-600-movies-of-each-year-from-1960-to-2024")

csv_filename = os.path.join(dataset_path, "final_dataset.csv")
df = pd.read_csv(csv_filename)

print("Loaded dataset from:", csv_filename)
print(df.head())

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).
Loaded dataset from: C:\Users\Mansi\.cache\kagglehub\datasets\raedaddala\top-500-600-movies-of-each-year-from-1960-to-2024\versions\3\final_dataset.csv
          id                            title  year duration MPA  rating  \
0  tt0073195                             Jaws  1975    2h 4m  PG     8.1
1  tt0073629    The Rocky Horror Picture Show  1975   1h 40m   R     7.4
2  tt0073486  One Flew Over the Cuckoo's Nest  1975   2h 13m   R     8.7
3  tt0072890                Dog Day Afternoon  1975    2h 5m   R     8.0
4  tt0073692                          Shampoo  1975   1h 50m   R     6.4

  votes  meta_score                                        description  \
0  690K        87.0  When a massive killer shark unleashes chaos on...
1  174K        65.0  A newly-engaged couple have a breakdown in an ...
2  1.1M        84.0  In the Fall of 1963, a Korean War veteran and ...
3  281K        86.0  Three amateur robbers plan to hold up a Brookl...
4   15K        65.0  On Election Day, 1968, irresponsible hairdress...

                             Movie_Link  ... opening_weekend_gross  \
0  https://www.imdb.com/title/tt0073195  ...            $7,061,513
1  https://www.imdb.com/title/tt0073629  ...                   NaN
2  https://www.imdb.com/title/tt0073486  ...                   NaN
3  https://www.imdb.com/title/tt0072890  ...                   NaN
4  https://www.imdb.com/title/tt0073692  ...                   NaN

  gross_worldwide gross_us_canada release_date  \
0    $477,916,625    $267,263,625       1975.0
1    $115,827,018    $112,892,319       1975.0
2    $109,115,366    $108,981,275       1975.0
3     $50,004,527     $50,000,000       1975.0
4     $49,407,734     $49,407,734       1975.0

                      countries_origin  \
0                    ['United States']
1  ['United Kingdom', 'United States']
2                    ['United States']
3                    ['United States']
4                    ['United States']

                                   filming_locations  \
0  ["Water Street, Edgartown, Martha's Vineyard, ...
1  ["Oakley Court, Windsor Road, Oakley Green, Wi...
2  ['Oregon State Mental Hospital - 2600 Center S...
3  ['285 Prospect Park West, Brooklyn, New York C...
4  ["2270 Bowmont Drive, Beverly Hills, Californi...

                                production_companies  \
0  ['Zanuck/Brown Productions', 'Universal Pictur...
1  ['Twentieth Century Fox', 'Michael White Produ...
2                   ['Fantasy Films', 'N.V. Zvaluw']
3  ['Warner Bros.', 'Artists Entertainment Complex']
4  ['Persky-Bright / Vista', 'Columbia Pictures',...

                                 awards_content  \
0  Won 3 Oscars, 16 wins & 20 nominations total
1          Awards, 3 wins & 4 nominations total
2  Won 5 Oscars, 38 wins & 15 nominations total
3   Won 1 Oscar, 14 wins & 20 nominations total
4    Won 1 Oscar, 3 wins & 11 nominations total

                                              genres    languages
0  ['Monster Horror', 'Sea Adventure', 'Survival'...  ['English']
1  ['B-Horror', 'Dark Comedy', 'Parody', 'Raunchy...  ['English']
2  ['Medical Drama', 'Psychological Drama', 'Drama']  ['English']
3  ['Dark Comedy', 'Heist', 'True Crime', 'Biogra...  ['English']
4                      ['Satire', 'Comedy', 'Drama']  ['English']

[5 rows x 24 columns]

In [39]:
def convert_duration_to_minutes(duration):
    if pd.isna(duration):
        return 0  
    if isinstance(duration, int):
        return duration  

    total_minutes = 0
    parts = duration.split()
    for part in parts:
        if 'h' in part:
            total_minutes += int(part[:-1]) * 60 
        elif 'm' in part:
            total_minutes += int(part[:-1])  
    return total_minutes

df['duration'] = df['duration'].apply(convert_duration_to_minutes)

In [40]:
for col in df.columns:
    if df[col].dtype in ['int', 'int64', 'float64']: 
        df[col].fillna(0, inplace=True)
    else:
        df[col].fillna('n/a', inplace=True)

C:\Users\Mansi\AppData\Local\Temp\ipykernel_20580\4202546302.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('n/a', inplace=True)
C:\Users\Mansi\AppData\Local\Temp\ipykernel_20580\4202546302.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(0, inplace=True)

In [41]:
import string

# Convert all string entries in the DataFrame to lowercase
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

def clean_name_list(cell):
    if pd.isna(cell) or cell == 'n/a':
        return ['n/a']
    try:
        names = eval(cell) if isinstance(cell, str) and cell.startswith("[") else [cell]
    except:
        names = [cell]
    
    # Remove punctuation and join first+last name while keeping list format
    table = str.maketrans('', '', string.punctuation)
    cleaned = [''.join(name.translate(table).split()) for name in names]
    return cleaned  # returns a list like ['tomholland', 'jenniferaniston']

# Apply to relevant columns
for col in ['writers', 'directors', 'stars']:
    if col in df.columns:
        df[col] = df[col].apply(clean_name_list)

# Print to verify results
print("Writers column:\n", df['writers'].head(), "\n")
print("Directors column:\n", df['directors'].head(), "\n")
print("Stars column:\n", df['stars'].head(), "\n")

C:\Users\Mansi\AppData\Local\Temp\ipykernel_20580\1526783218.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

Writers column:
 0            [peterbenchley, carlgottlieb]
1              [richardobrien, jimsharman]
2    [lawrencehauben, bogoldman, kenkesey]
3     [frankpierson, pfkluge, thomasmoore]
4              [roberttowne, warrenbeatty]
Name: writers, dtype: object

Directors column:
 0    [stevenspielberg]
1         [jimsharman]
2        [milosforman]
3        [sidneylumet]
4           [halashby]
Name: directors, dtype: object

Stars column:
 0    [royscheider, robertshaw, richarddreyfuss, lor...
1    [timcurry, susansarandon, barrybostwick, richa...
2    [jacknicholson, louisefletcher, michaelberryma...
3    [alpacino, johncazale, penelopeallen, sullyboy...
4    [warrenbeatty, juliechristie, goldiehawn, leeg...
Name: stars, dtype: object

In [35]:
import ast
import pandas as pd

In [42]:
import ast

def parse_list(cell):
    if isinstance(cell, list):
        return cell
    if isinstance(cell, float) and pd.isna(cell):
        return []
    if isinstance(cell, str) and cell.strip() == "":
        return []
    try:
        return ast.literal_eval(cell)
    except (ValueError, SyntaxError):
        return cell.split(", ") if isinstance(cell, str) else [cell]

In [ ]:
movie_data_dict = {}

for _, row in df.iterrows():
    id = row["id"]
    movie_data_dict[id] = {

        "title": row["title"],
        "year": row["year"],
        "duration": row["duration"],
        "MPA": row["MPA"],
        "rating": row["rating"],
        "votes": row["votes"],
        "meta_score": row["meta_score"],
        "description": row["description"],
        "Movie_Link": row["Movie_Link"],
        "writers": parse_list(row["writers"]),
        "directors": parse_list(row["directors"]),
        "stars": parse_list(row["stars"]),
        "budget": row["budget"],
        "opening_weekend_gross": row["opening_weekend_gross"],
        "gross_worldwide": row["gross_worldwide"],
        "gross_us_canada": row["gross_us_canada"],
        "release_date": row["release_date"],
        "countries_origin": parse_list(row["countries_origin"]),
        "filming_locations": parse_list(row["filming_locations"]),
        "production_companies": parse_list(row["production_companies"]),
        "awards_content": parse_list(row["awards_content"]),
        "genres": parse_list(row["genres"]),
        "languages": parse_list(row["languages"])
    }

first_5_keys = list(movie_data_dict.keys())[:5]  
for key in first_5_keys:
    print(f"Movie ID: {key}, Data: {movie_data_dict[key]}")

Movie ID: tt0073195, Data: {'title': 'jaws', 'year': 1975, 'duration': 124, 'MPA': 'pg', 'rating': 8.1, 'votes': '690k', 'meta_score': 87.0, 'description': "when a massive killer shark unleashes chaos on a beach community off long island, it's up to a local sheriff, a marine biologist, and an old seafarer to hunt the beast down.", 'Movie_Link': 'https://www.imdb.com/title/tt0073195', 'writers': ['peterbenchley', 'carlgottlieb'], 'directors': ['stevenspielberg'], 'stars': ['royscheider', 'robertshaw', 'richarddreyfuss', 'lorrainegary', 'murrayhamilton', 'carlgottlieb', 'jeffreykramer', 'susanbacklinie', 'jonathanfilley', 'tedgrossman'], 'budget': '$7,000,000 (estimated)', 'opening_weekend_gross': '$7,061,513', 'gross_worldwide': '$477,916,625', 'gross_us_canada': '$267,263,625', 'release_date': 1975.0, 'countries_origin': ['united states'], 'filming_locations': ["water street, edgartown, martha's vineyard, massachusetts, usa"], 'production_companies': ['zanuck/brown productions', 'universal pictures'], 'awards_content': ['won 3 oscars', '16 wins & 20 nominations total'], 'genres': ['monster horror', 'sea adventure', 'survival', 'adventure', 'drama', 'horror', 'thriller'], 'languages': ['english']}
Movie ID: tt0073629, Data: {'title': 'the rocky horror picture show', 'year': 1975, 'duration': 100, 'MPA': 'r', 'rating': 7.4, 'votes': '174k', 'meta_score': 65.0, 'description': 'a newly-engaged couple have a breakdown in an isolated area and must seek shelter at the bizarre residence of dr. frank-n-furter.', 'Movie_Link': 'https://www.imdb.com/title/tt0073629', 'writers': ['richardobrien', 'jimsharman'], 'directors': ['jimsharman'], 'stars': ['timcurry', 'susansarandon', 'barrybostwick', 'richardobrien', 'patriciaquinn', 'nellcampbell', 'jonathanadams', 'peterhinwood', 'meatloaf', 'charlesgray'], 'budget': '$1,200,000 (estimated)', 'opening_weekend_gross': 'n/a', 'gross_worldwide': '$115,827,018', 'gross_us_canada': '$112,892,319', 'release_date': 1975.0, 'countries_origin': ['united kingdom', 'united states'], 'filming_locations': ["oakley court, windsor road, oakley green, windsor, berkshire, england, uk (castle exterior, criminologist's study, brad's room, janet's room, dining room, columbia's room, entrance hall and stairs)"], 'production_companies': ['twentieth century fox', 'michael white productions'], 'awards_content': ['awards', '3 wins & 4 nominations total'], 'genres': ['b-horror', 'dark comedy', 'parody', 'raunchy comedy', 'rock musical', 'supernatural horror', 'comedy', 'horror', 'musical'], 'languages': ['english']}
Movie ID: tt0073486, Data: {'title': "one flew over the cuckoo's nest", 'year': 1975, 'duration': 133, 'MPA': 'r', 'rating': 8.7, 'votes': '1.1m', 'meta_score': 84.0, 'description': 'in the fall of 1963, a korean war veteran and criminal pleads insanity and is admitted to a mental institution, where he rallies up the scared patients against the tyrannical nurse.', 'Movie_Link': 'https://www.imdb.com/title/tt0073486', 'writers': ['lawrencehauben', 'bogoldman', 'kenkesey'], 'directors': ['milosforman'], 'stars': ['jacknicholson', 'louisefletcher', 'michaelberryman', 'peterbrocco', 'deanrbrooks', 'alonzobrown', 'scatmancrothers', 'mwakocumbuka', 'dannydevito', 'williamduell'], 'budget': '$3,000,000 (estimated)', 'opening_weekend_gross': 'n/a', 'gross_worldwide': '$109,115,366', 'gross_us_canada': '$108,981,275', 'release_date': 1975.0, 'countries_origin': ['united states'], 'filming_locations': ['oregon state mental hospital - 2600 center street ne, salem, oregon, usa'], 'production_companies': ['fantasy films', 'n.v. zvaluw'], 'awards_content': ['won 5 oscars', '38 wins & 15 nominations total'], 'genres': ['medical drama', 'psychological drama', 'drama'], 'languages': ['english']}
Movie ID: tt0072890, Data: {'title': 'dog day afternoon', 'year': 1975, 'duration': 125, 'MPA': 'r', 'rating': 8.0, 'votes': '281k', 'meta_score': 86.0, 'description': 'three amateur robbers plan to hold up a brooklyn bank. a nice, simple robbery: walk in, take the money, and run. unfortunately, the supposedly uncomplicated heist suddenly becomes a bizarre nightmare as everything that could go wrong does.', 'Movie_Link': 'https://www.imdb.com/title/tt0072890', 'writers': ['frankpierson', 'pfkluge', 'thomasmoore'], 'directors': ['sidneylumet'], 'stars': ['alpacino', 'johncazale', 'penelopeallen', 'sullyboyar', 'beulahgarrick', 'carolkane', 'sandrakazan', 'marciajeankurtz', 'amylevitt', 'johnmarriott'], 'budget': '$1,800,000 (estimated)', 'opening_weekend_gross': 'n/a', 'gross_worldwide': '$50,004,527', 'gross_us_canada': '$50,000,000', 'release_date': 1975.0, 'countries_origin': ['united states'], 'filming_locations': ['285 prospect park west, brooklyn, new york city, new york, usa (bank exterior)'], 'production_companies': ['warner bros.', 'artists entertainment complex'], 'awards_content': ['won 1 oscar', '14 wins & 20 nominations total'], 'genres': ['dark comedy', 'heist', 'true crime', 'biography', 'crime', 'drama', 'thriller'], 'languages': ['english']}
Movie ID: tt0073692, Data: {'title': 'shampoo', 'year': 1975, 'duration': 110, 'MPA': 'r', 'rating': 6.4, 'votes': '15k', 'meta_score': 65.0, 'description': "on election day, 1968, irresponsible hairdresser and ladies' man george roundy is too busy cutting hair and dealing with his girlfriends and mistress felicia karpf, whose husband lester is having an affair with his ex-girlfriend jackie.", 'Movie_Link': 'https://www.imdb.com/title/tt0073692', 'writers': ['roberttowne', 'warrenbeatty'], 'directors': ['halashby'], 'stars': ['warrenbeatty', 'juliechristie', 'goldiehawn', 'leegrant', 'jackwarden', 'tonybill', 'georgefurth', 'jayrobinson', 'annweldon', 'luanaanders'], 'budget': '$4,000,000 (estimated)', 'opening_weekend_gross': 'n/a', 'gross_worldwide': '$49,407,734', 'gross_us_canada': '$49,407,734', 'release_date': 1975.0, 'countries_origin': ['united states'], 'filming_locations': ["2270 bowmont drive, beverly hills, california, usa (jackie's house at bowmont & hazen)"], 'production_companies': ['persky-bright / vista', 'columbia pictures', 'rubeeker films'], 'awards_content': ['won 1 oscar', '3 wins & 11 nominations total'], 'genres': ['satire', 'comedy', 'drama'], 'languages': ['english']}

In [44]:
df_cleaned = pd.DataFrame.from_dict(movie_data_dict, orient="index")
df_cleaned.to_csv("./../cleaned_database/cleaned_final_dataset.csv", index_label="id")
print("Dictionary saved to ./../cleaned_database/cleaned_final_dataset.csv")

Dictionary saved to ./../cleaned_database/cleaned_final_dataset.csv